/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

body {
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.h1,.h2,h1,h2 {
    font-family: "Faculty+Glyphic";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #3e2687;
}